@import url("antd/dist/reset.css");
@layer tailwind-base,reset,antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
}

body {
  background-color: var(--bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fix-height {
  min-height: calc(100vh - 120px);
}

.overflow-height {
  height: calc(100vh - 120px);
}

.fluid-heading {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.fluid-footer {
  font-size: clamp(0.8rem, 2vw, 1rem);
}
